crewai==0.28.0
mem0ai==0.0.9
cohere==5.13.12
httpx-sse==0.4.0
openai==1.33.0
groq==0.4.2
psycopg2-binary==2.9.9
redis==5.0.1
pyyaml==6.0.1
python-dotenv==1.0.0
pydantic==2.7.3
python-telegram-bot==21.6
